// Colors
$white: rgb(255 255 255); // #ffffff
$black: rgb(0 0 0); // #000000
$platinum: rgb(229 229 229); // #e5e5e5
$raisin-black: rgb(37 36 37); // #252425
$eerie-black: rgb(26 24 24); // #1a1818
$electric-crimson: rgb(255 0 69); // #ff0045

// Overlays
$black003: rgba($black, 0.03);
$black05: rgba($black, 0.5);

// Linear
