html,
body {
  font-family:
    $font-satoshi,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-weight: 300;
  margin: 0;
  overflow-x: hidden;
  padding: 0;
}

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent; //issue click in mobile flash background highlight
}

button {
  cursor: pointer;

  &:focus {
    outline: none;
  }
}

p {
  margin-bottom: 0;
  margin-top: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

input {
  word-break: normal;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
