/* stylelint-disable property-no-unknown */
@use 'sass:math';

@mixin aspect-ratio($width: 1, $height: 1) {
  padding-bottom: math.div($height, $width) * 100%;
}

@mixin scroll-bars(
  $size: 4,
  $thumb-color: $black,
  $track-color: $platinum,
  $border-radius-track: 8,
  $border-radius-thumb: 8,
  $border-thumb: 2
) {
  // For Internet Explorer
  scrollbar-face-color: $thumb-color;
  scrollbar-track-color: $track-color;

  // For Google Chrome
  &::-webkit-scrollbar {
    height: rem($size);
    margin-right: rem(10);
    width: rem($size);
  }

  &::-webkit-scrollbar-thumb {
    background: $thumb-color;
    border: rem($border-thumb) solid $track-color;
    border-radius: rem($border-radius-thumb);
  }

  &::-webkit-scrollbar-track {
    background: $track-color;
    border-radius: $border-radius-track;
  }
}

@mixin reset-button {
  appearance: none;
  background: none;
  border: 0;
  outline: none;
}

@mixin style-text-background($color) {
  background: $color;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
}

@mixin adjust-flex($justify-content: center, $align-item: center) {
  align-items: $align-item;
  display: flex;
  justify-content: $justify-content;
}

@mixin container {
  margin-left: auto;
  margin-right: auto;
  padding-left: rem(16);
  padding-right: rem(16);

  @include break-min($standard-viewport) {
    max-width: $standard-viewport;
    padding-left: rem(120);
    padding-right: rem(120);
  }

  @include desktop-down {
    padding-left: rem(24);
    padding-right: rem(24);
  }

  @include tablet-down {
    padding-left: rem(16);
    padding-right: rem(16);
  }

  @include mobile-down {
    padding-left: rem(4);
    padding-right: rem(4);
  }
}
