// paths
$font-path: '~assets/fonts/';
$icon-path: '~assets/icons/';

// fonts
$font-neue-kabel: 'Neue Kabel';

// transition
$transition: 0.25s;
$transition-medium: 0.3s;
$transition-long: 0.4s;

$font-family: (
  'neueKabel': $font-neue-kabel,
);

// text-color
$list-colors: (
  'inherit': inherit,
  'white': $white,
  'black': $black,
);

$standard-viewport: 1600px;

// z-index
$z-header: 100;
$z-header-nav: 99;
$z-footer: 101;
$z-modal: 102;
$z-modal2: 103;
$z-modal3: 104;
$z-1: 1;
$z-2: 2;
$z-loading: 999;

// border-radius
$radius: (
  base: 2px,
  sm: 8px,
  md: 16px,
  lg: 24px,
  circle: 50%,
);

// fontSize - fontWeight
// lg is default font size
$list-font-sizes: (
  10: (lg: (10, 15)),
  12: (lg: (12, 18)),
  14: (lg: (14, 22)),
  16: (lg: (16, 24)),
  18: (lg: (18, 24)),
  24: ( 
    sm: (16, 24),
    md: (20, 30),
    lg: (24, 36)
  ),
  28: ( 
    sm: (18, 24),
    md: (24, 30),
    lg: (28, 36)
  ),
  32:   ( 
    sm: (18, 24),
    md: (24, 30),
    lg: (32, 48)
  ),
  48: ( 
    sm: (28, 42),
    md: (36, 54),
    lg: (48, 60)
  ),
  56: ( 
    sm  : (28, 42),
    md: (40, 60),
    lg: (56, 84)
  )
);
$list-font-weights: (
  '100': 100,
  '200': 200,
  '300': 300,
  '400': normal,
  '500': 500,
  '600': 600,
  '700': bold,
  '800': 800,
  '900': 900,
);
